* {
    margin: 0;
    border: 0;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #D2DDE2;
}

h1 {
    margin-top: 10%;
    font-size: 45px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.hidden {
    display: none;
}

h1 + p {
    position: relative;
    bottom: 30px;
    font-family: 'Pacifico', cursive;
}

.placeholder {
    color: grey;
    margin: auto;
    font-family: 'Pacifico', cursive;
    padding-top: 20px;
    font-weight: lighter;
    display: none;
    justify-content: center;
}
.todoinput {
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.textbox {
    border-radius: 5px;
}

.todolist {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F3F5F6;
    width: 20%;
    min-height: 48px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.todolist p {
    text-align: center;
    width: 90%;
    font-weight: bold;
    margin: auto;
    padding: 15px;
}

.addbutton {
    padding: 5px;
    border-radius: 5px;
    background-color: #2262C7;
    color: white;
    font-weight: bold;
}

input {
    border: 2px solid black;
}

p {
    margin-top: 20px;
    text-align: center;
}

footer {
    height: 50px;
}

@media (max-width: 700px) {
    h1 {
        font-size: 50px;
    }

    .todolist {
        width: 60%;
    }

    div + p {
        visibility: hidden;
    }

    div + p::after {
        content: "Single press to mark as done, long press to delete the to-do";
        visibility: visible;
        display: flex;
        justify-content: center;
        font-size: 12px;
    }

}